*{
    padding: 0px;
    margin: 0px;
}

.cabecalho{
    background: url("images/banner.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
}

.titulo{
    padding-top: 30px;
    margin-left: 60px;
}

.subtitulo{
    padding-top: 30px;
    margin-left: 60px;
}